@media screen {

    a {
        background: none repeat scroll 0 0 transparent;
        color: #00425F;
        text-decoration: none;
    }
    
    a:active {
        outline: medium none;
    }
    
    a:hover, a:focus {
        background-color: #006F9F;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
        color: #00425F;
    }
    
    section.box { 
        padding: 1.4286em; 
    }
    
    body.page, body.single, body.blog, body.error404 {
        background: none repeat scroll 0 0 #252525;
    }

    body div#kopf div#title {
        height: 160px;
    }
    
    .page-header {
        background: none;
    }
    
    .header-block {
        overflow: hidden;
        padding-left: 0;
    } 
    
    .header-block h1 {
        margin-top: 12px;
        margin-bottom: 0;
        line-height: 56px;
    }
    
    .header-block h3 {
        margin-top: 12px;
    } 
    
    .header-block h1 span {
        background-color: rgba(255, 255, 255, 0.75);
    }
    
    .header-block h3 span {
        background-color: rgba(255, 255, 255, 0.55);
    }
    
    .header-block h1 span, .header-block h3 span {
        padding: 4px 4px 4px 20px;
    }

    .sprungmarken {
        top:28px;
    }

    div#kopf, div#main  {
        background: none repeat scroll 0 0 #D4D7D9;
    }
        
    div#main {
        padding-bottom: 5em;
    }

    div#main div.ym-wrapper {
        background-color: #FFFFFF;
        border-bottom: 30px solid #E3E3E3;
        min-height: 60em;
    }

    div#main > div.ym-wrapper > div.ym-wbox {
        padding-top: 1em;
    }

    nav#bereichsmenu {
        background: none repeat scroll 0 0 transparent;
    }

    nav#tecmenu {
        background: none repeat scroll 0 0 #00425F;
    }

    div#zusatzinfo {
        padding: 0 0.5em;
    }

    .entry-header {
        background: none repeat scroll 0 0 #FFFFFF;
        color: #444;
    }

    .entry-footer {
        margin-top: 1em;
    }

    nav#nav-pages,
    nav#nav-single,
    nav#nav-comments {
        background: none repeat scroll 0 0 #FFFFFF;
    }

    nav#breadcrumb {
        background: none repeat scroll 0 0 transparent;
    }

    nav#breadcrumb > div.ym-wrapper {
        background-color: #FFF;
    }

    nav#breadcrumb div.ym-hlist {
        background: none repeat scroll 0 0 #F8F8F8;
        color: #333333;
    }

    nav#breadcrumb div.ym-hlist ul {
        padding-left: 1.5em;
    }

    nav#breadcrumb div.ym-hlist ul li a {
        background: none repeat scroll 0 0 transparent;
        display: inline;
        font-size: 1em;
        font-weight: normal;
        line-height: 2em;
        padding: 0 0.5em;
        text-decoration: none;
        text-shadow: none;
        border-radius: 0;
        width: auto;
    }

    nav#breadcrumb div.ym-hlist ul li span {
        background: none repeat scroll 0 0 transparent;
        font-size: 1em;
        font-weight: normal;
        line-height: 2em;
        padding: 0 0 0 0.5em;
        width: auto;
    }

    nav#breadcrumb div.ym-hlist ul li a + span {
        padding: 0;
    }

    nav#breadcrumb div.ym-hlist ul li a,
    nav#breadcrumb div.ym-hlist ul li a:visited {
        background-color: #f8f8f8;
        color: #333333;
    }

    nav#breadcrumb div.ym-hlist ul li a:focus,
    nav#breadcrumb div.ym-hlist ul li a:hover,
    nav#breadcrumb div.ym-hlist ul li a:active {
        background-color: #006F9F;
        color: #FFF;
        border-radius: none;
    }

    nav#nav-pages .nav-previous,
    nav#nav-single .nav-previous,
    nav#nav-comments .nav-previous {
        float: left;
    }

    nav#nav-pages .nav-next,
    nav#nav-single .nav-next,
    nav#nav-comments .nav-next {
        float: right;
    }    
    
    .entry-content a {
        text-decoration: underline;
    }
    
    .entry-content a:hover, a:focus {
        text-decoration: none;
    }
    
	.entry-content h1,
    .entry-content h2 {
		font-size:200%;
		line-height: 1.2em;
		margin: 0.6em 0 0 0;
	}
        
    /* Alignment */
    .alignleft {
        display: inline;
        float: left;
        margin-right: 1.625em;
    }
    .alignright {
        display: inline;
        float: right;
        margin-left: 1.625em;
    }
    .aligncenter {
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Images */
    .entry-content img,
    .comment-content img,
    .widget img {
        max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
    }
    
    img[class*="align"],
    img[class*="wp-image-"],
    img[class*="attachment-"] {
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
    }
    
    img.size-full,
    img.size-large {
        max-width: 97.5%;
        width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
        height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
    }
    
    .entry-content img.wp-smiley {
        border: none;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
    }
    
    img.alignleft,
    img.alignright,
    img.aligncenter {
        margin-bottom: 1.625em;
    }
    
    p img,
    .wp-caption {
        margin-top: 0.4em;
    }
    
    .wp-caption {
        background: #eee;
        margin-bottom: 1.625em;
        max-width: 96%;
        padding: 9px;
    }
    
    .wp-caption img {
        display: block;
        margin: 0 auto;
        max-width: 98%;
    }
    
    .wp-caption .wp-caption-text,
    .gallery-caption {
        color: #666;
        font-size: 12px;
    }
    
    .wp-caption .wp-caption-text {
        margin-bottom: 0.6em;
        padding: 10px 0 5px 40px;
        position: relative;
    }
    
    .wp-caption .wp-caption-text:before {
        color: #666;
        /*content: '�4';*/
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        margin-right: 5px;
        position: absolute;
        left: 10px;
        top: 7px;
    }
    
    .gallery {
        margin: 0 auto 1.625em;
    }
    
    .gallery a img {
        border: none;
    }
    
    .gallery-columns-4 .gallery-item {
        width: 23% !important;
        padding-right: 2%;
    }
    
    .gallery-columns-4 .gallery-item img {
        width: 100%;
        height: auto;
    }
    
    dl.gallery-item {
        margin: 0;
    }

    .gallery:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }    
    
    /* Image borders */
    img[class*="align"],
    img[class*="wp-image-"],
    .gallery .gallery-icon img {
        border: 1px solid #DDDDDD;
        padding: 6px;
    }
    .wp-caption img {
        border-color: #EEEEEE;
    }
    
    a:focus img[class*="align"],
    a:hover img[class*="align"],
    a:active img[class*="align"],
    a:focus img[class*="wp-image-"],
    a:hover img[class*="wp-image-"],
    a:active img[class*="wp-image-"],
    .gallery .gallery-icon a:focus img,
    .gallery .gallery-icon a:hover img,
    .gallery .gallery-icon a:active img {
        background: #EEEEEE;
        border-color: #BBBBBB;
    }
    
    .wp-caption a:focus img,
    .wp-caption a:active img,
    .wp-caption a:hover img {
        background: #FFFFFF;
        border-color: #DDDDDD;
    }

    /* Embeded objects fit their containers */
    embed,
    iframe,
    object {
        max-width: 100%;
    }

    /* Search form */
    .ym-searchform .ym-searchfield {
        box-shadow: none;
    }

    .ym-searchform .ym-searchbutton {
        background: none repeat scroll 0 0 #005D85;
        border: 1px solid transparent;
        color: #FFFFFF;
        border-radius: 0;
        text-shadow: none;
    }

    /* Horizontal menu */
    .rrze-hlist {
        background: none repeat scroll 0 0 #00425F;
        line-height: 0;
        padding-left: 0.5em;
    }

    /* Horizontal menu Active list element */   
    .rrze-hlist ul li.current-menu-item > a,
    .rrze-hlist ul li.current_page_item > a,
    .rrze-hlist ul li.current-cat > a,
    .rrze-hlist ul li.current-menu-parent > a,
    .rrze-hlist ul li.current_page_parent > a,
    .rrze-hlist ul li.current-cat-parent > a,
    .rrze-hlist ul li.current-menu-ancestor > a,
    .rrze-hlist ul li.current_page_ancestor > a {
        color: #FFFFFF;
    }
    
    .rrze-hlist ul ul {
        display: none;
        z-index: 1;
    }
    
	.rrze-hlist ul li:hover > ul {
		display: block;
	}
    
    .rrze-hlist ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-table;
    }
    
	.rrze-hlist ul:after {
		content: "";
        clear: both; 
        display: block;
	}
    
    .rrze-hlist ul li {
        float: left;
        margin: 0;
    }

	.rrze-hlist ul li a {
		display: block;
	}
    
    .rrze-hlist ul ul {
        position: absolute;
        top: 100%;
    }
    
	.rrze-hlist ul ul li {
		float: none;
		position: relative;
        margin: 0;
	}
    
    .rrze-hlist ul ul ul {
        position: absolute;
        left: 100%;
        top:0;
    }

    .rrze-hlist ul li > ul li {
        border-bottom: 1px solid #AAAAAA;
    }

    .rrze-hlist ul a {
        background: transparent;
        padding: 0.8em 1em;
        color: #AAAAAA;
    }

    .rrze-hlist ul ul a {
        padding: 0.5em 1em;
    }
     
    .rrze-hlist ul li a:focus,
    .rrze-hlist ul li a:hover,
    .rrze-hlist ul li a:active {
        color: #FFFFFF;
    }

    .rrze-hlist ul li {
        background: #00425F;
    }

    .rrze-hlist ul li:focus,
    .rrze-hlist ul li:hover,
    .rrze-hlist ul li:active {
        background: #005D85;
    }

    /* Vertical menu */
    /* Level 1 */
    .ym-vlist li a,
    .ym-vlist li strong,
    .ym-vlist li span {
        width: 100%;
        padding-left: 0;
    } /* LTR */

    .ym-vlist li.current-menu-item > a,
    .ym-vlist li.current_page_item > a,
    .ym-vlist li.current-cat > a {
        font-weight: bold;
        outline: 0 none;
    }
    
    /* Level 2 */
    .ym-vlist li ul li a,
    .ym-vlist li ul li strong,
    .ym-vlist li ul li span {
        width: 100%;
        padding-left: 1.5em;
    } /* LTR */

    .ym-vlist li ul li.current-menu-item > a,
    .ym-vlist li ul li.current_page_item > a,
    .ym-vlist li ul li.current-cat > a {
        font-weight: bold;
        outline: 0 none;
    }
    
    /* Level 3 */
    .ym-vlist li ul li ul li a,
    .ym-vlist li ul li ul li strong,
    .ym-vlist li ul li ul li span {
        width: 100%;
        padding-left: 3em;
    } /* LTR */

    .ym-vlist li ul li ul li.current-menu-item  > a,
    .ym-vlist li ul li ul li.current_page_item  > a,
    .ym-vlist li ul li ul li.current_cat  > a {
        font-weight: bold;
        outline: 0 none;
    }
    
    /* Level 4 */
    .ym-vlist li ul li ul li ul li a,
    .ym-vlist li ul li ul li ul li strong,
    .ym-vlist li ul li ul li ul li span {
        width: 100%;
        padding-left: 4.5em;
    } /* LTR */

    .ym-vlist li ul li ul li ul li.current-menu-item > a,
    .ym-vlist li ul li ul li ul li.current_page_item > a,
    .ym-vlist li ul li ul li ul li.current-cat > a {
        font-weight: bold;
        outline: 0 none;
    }
    
    /* Widgets */
    .widget-wrapper {
        margin-top: 1.5em;
    }

    .widget-wrapper ul {
        border-top: none;
    }
    
    .widget-title {
        background-color: #FFFFFF;
        border-bottom: 4px solid #006F9F;
        color: #00425F;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 100%;
        font-weight: bold;
        margin: 0 0 3px;
        padding: 3px 0;
        width: 100%;
    }

    h6.widget-title a {
        display: inline;
        padding: 3px 0;
        border-bottom: none;
    }

    h6.widget-title a + a {
        padding-left: 3px;
    }    
    
    /** wp-search widget */
    .widget-title + form#searchform {
        border-top: 4px solid #888;
    }

    div#main div.widget_search {
        background: none repeat scroll 0 0 #F0F0F0;
        padding: 0.5em 0.5em;
    }

    .rrze-searchform .rrze-searchfield {
        background: #FFFFFF;
        display: inline;
        line-height: 1em;
        padding: 0.25em;
        width: 70%;
        border: solid 1px #888888;
        outline: none;
    }

    .rrze-searchform .rrze-searchbutton {
        cursor: pointer;
        display: inline;
        font-size: 1em;
        line-height: 1.3571em;
        padding: 0.25em;
        border: solid 1px transparent;
        background: none repeat scroll 0 0 #005D85;
        border: 1px solid transparent;
        color: #FFFFFF;
        border-radius: 0;
        text-shadow: none;
        width: 24%;
    }

    footer .rrze-searchform {
        background: none repeat scroll 0 0 transparent;
    }

    footer .rrze-searchform .rrze-searchfield {
        border: solid 1px rgba(255,255,255,.1);
    }
    
    /* wp-archive & wp-categories widgets */
    .widget-wrapper select {
        display: block;
        position: relative;
        border: 1px solid #DDD;
        line-height: 1em;
        margin: 0;
        padding: 0.25em 2px 0.25em 1px;
        font-family: Arial,Helvetica,sans-serif;
        width: 100%;
        cursor: pointer;
    }

    .widget-wrapper select:focus,
    .widget-wrapper select:hover,
    .widget-wrapper select:active {
        background: none repeat scroll 0 0 #FFF;
        border: 1px solid #888;
    }
        
    /* wp-text widget */
    .widget_text a, .widget_text a:visited {
        color: #00425F;
    }
    .widget_text a, .widget_text strong, .widget_text span {
        border-bottom: none;
        display: inline-block;
        padding: 0;
        text-decoration: underline;
    }
    
    .widget_text a:hover, .widget_text a:focus {
        background-color: #006F9F;
        color: #FFFFFF;
        text-decoration: none;
    }    
    
    .textwidget {
        line-height: 1.5em;
    }
   
    .textwidget p {
        margin: 0.5em 0;
    }    
    
    .textwidget p:first-child {
        margin: 0 0 0.5em 0;
    }    

    .textwidget p:last-child {
        margin: 0.5em 0 0 0;
    }    
    
    /* wp-calendar widget */
    div#calendar_wrap {
    }

    div#calendar_wrap a {
        border-bottom: none;
    }

    table#wp-calendar th, table#wp-calendar td {
        padding: 0.5em 0.2em;
    }

    table#wp-calendar a,
    table#wp-calendar a:visited {
        background-color: #F0F0F0;
        color: #222;
    }

    table#wp-calendar a:focus,
    table#wp-calendar a:hover,
    table#wp-calendar a:active {
        background-color: #888;
        color: #FFF;
    }

    table#wp-calendar tfoot a,
    table#wp-calendar tfoot a:visited {
        background-color: #FFF;
        color: #222;
    }

    table#wp-calendar tfoot a:focus,
    table#wp-calendar tfoot a:hover,
    table#wp-calendar tfoot a:active {
        background-color: #888;
        color: #FFF;
    }

    /* wp-tagcloud widget */
    div.tagcloud, div.textwidget, table#wp-calendar {
        padding-bottom: 3px;
        border-bottom: 3px solid #DDD;
    }

    div.tagcloud a {
        border-bottom: none;
        display: inline;
        padding: 0 5% 0 0;
    }

    /* wp-rss widget */
    a.rsswidget:hover, a.rsswidget:focus {
        background-color: #888;
        color: #FFF;
    }
    
    /* wp-comments widget */
    li.recentcomments {
        padding: 3px 0 3px 0;
        width: 100%;
        border-bottom: 1px solid #DDD;
    }

    li.recentcomments a {
        border-bottom: none;
    }

    div.tagcloud a:hover, div.tagcloud a:focus {
        background-color: #888;
        color: #FFF;
        text-decoration: none;
    }

    div#formulare {
        padding: 1.3em 0;
    }

    form#commentform p {
        margin: 0 0 0 1em;
        padding: 10px 0;
    }

    span.required-item {
        padding: 0 .3em;
    }


    /* footer */
    body > footer {
        color: #D0D0D0;
        background-image: linear-gradient(270deg, #00425F, #005D85);
        background-image: -webkit-linear-gradient(270deg, #00425F, #005D85);
        background-image: -moz-linear-gradient(270deg, #00425F, #005D85);
        background-image: -o-linear-gradient(270deg, #00425F, #005D85);
        background-image: -ms-linear-gradient(270deg, #00425F, #005D85);
        padding-bottom: 5em;
    }
    
    footer h6.widget-title, footer .ym-vlist li {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist ul {
        border-color: #005D85;
    }

    footer .ym-vlist a {
        border-color: #005D85;
    }

    footer table#wp-calendar {
        border-bottom: 3px solid #005D85;
        border-top: 1px solid #005D85;
        color: #D0D0D0;
    }

    footer .tagcloud, 
    footer .textwidget {
        border-bottom: 3px solid #005D85;
    }

    footer .tagcloud {
        line-height: 1.5em;
    }

    footer .ym-vlist a, footer .ym-vlist a:visited {
        color: #D0D0D0;
    }

    footer tbody td {
        border-top: 1px solid #005D85;
        color: #D0D0D0;
    }

    footer thead th {
        border-bottom: 2px solid #005D85;
        color: #D0D0D0;
    }

    footer tbody tr:hover th, 
    footer tbody tr:hover td {
        background: none repeat scroll 0 0 #005D85;
    }

    footer table#wp-calendar a, 
    footer table#wp-calendar a:visited {
        background-color: #0078AC;
        color: #D0D0D0;
    }

    footer table#wp-calendar a:focus, 
    footer table#wp-calendar a:hover,
    footer table#wp-calendar a:active {
        background-color: #00A4EB;
        color: #FFF;
    }

    footer table#wp-calendar tfoot a,
    footer table#wp-calendar tfoot a:visited {
        background-color: transparent;
        color: #D0D0D0;
    }

    footer table#wp-calendar tfoot a:focus,
    footer table#wp-calendar tfoot a:hover,
    footer table#wp-calendar tfoot a:active {
        background-color: #005D85;
        color: #FFF;
    }
    
    /* wp-rss widget */
    footer a.rsswidget:hover, 
    footer a.rsswidget:focus {
        background-color: transparent;
        color: #FFF;
    }
    
    /* wp-tagcloud widget */
    footer .tagcloud a:hover, 
    footer .tagcloud a:focus {
        background-color: transparent;
        color: #FFF;
    }
    
    /* wp-comments widget */
    footer li.recentcomments {
        padding: 3px 0 3px 0;
        width: 100%;
        border-bottom: 1px solid #005D85;
    }
    
    /* Vertical menu (footer) */
    
    /* Level 1 */
    footer .ym-vlist li a,
    footer .ym-vlist li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li a:focus,
    footer .ym-vlist li a:hover,
    footer .ym-vlist li a:active {
        background-color: #005D85;
        color: #FFF;
        outline: 0 none;
    }

    footer .ym-vlist li.current-menu-item > a,
    footer .ym-vlist li.current_page_item > a,
    footer .ym-vlist li.current-cat > a {
        background-color: #555;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li.current-menu-parent > a,
    footer .ym-vlist li.current_page_parent > a,
    footer .ym-vlist li.current-cat-parent > a,
    footer .ym-vlist li.current-menu-ancestor > a,
    footer .ym-vlist li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }
    
    /* Level 2 */
    footer .ym-vlist li ul li a,
    footer .ym-vlist li ul li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li ul li a:focus,
    footer .ym-vlist li ul li a:hover,
    footer .ym-vlist li ul li a:active {
        background-color: #005D85;
        color: #FFF;
    }

    footer .ym-vlist li ul li.current-menu-item > a,
    footer .ym-vlist li ul li.current_page_item > a,
    footer .ym-vlist li ul li.current-cat > a {
        background-color: #005D85;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li ul li.current-menu-parent > a,
    footer .ym-vlist li ul li.current_page_parent > a,
    footer .ym-vlist li ul li.current-cat-parent > a,
    footer .ym-vlist li ul li.current-menu-ancestor > a,
    footer .ym-vlist li ul li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }
    
    /* Level 3 */
    footer .ym-vlist li ul li ul li a,
    footer .ym-vlist li ul li ul li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li ul li ul li a:focus,
    footer .ym-vlist li ul li ul li a:hover,
    footer .ym-vlist li ul li ul li a:active {
        background-color: #005D85;
        color: #FFF;
    }

    footer .ym-vlist li ul li ul li.current-menu-item  > a,
    footer .ym-vlist li ul li ul li.current_page_item  > a,
    footer .ym-vlist li ul li ul li.current-cat  > a {
        background-color: #005D85;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li ul li ul li.current-menu-parent > a,
    footer .ym-vlist li ul li ul li.current_page_parent > a,
    footer .ym-vlist li ul li ul li.current-cat-parent > a,
    footer .ym-vlist li ul li ul li.current-menu-ancestor > a,
    footer .ym-vlist li ul li ul li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }
    
    /* Level 4 */
    footer .ym-vlist li ul li ul li ul li a,
    footer .ym-vlist li ul li ul li ul li a:visited {
        background: none repeat scroll 0 0 transparent;
        color: #D0D0D0;
    }

    footer .ym-vlist li ul li ul li ul li a:focus,
    footer .ym-vlist li ul li ul li ul li a:hover,
    footer .ym-vlist li ul li ul li ul li a:active {
        background-color: #005D85;
        color: #FFF;
    }

    footer .ym-vlist li ul li ul li ul li.current-menu-item > a,
    footer .ym-vlist li ul li ul li ul li.current_page_item > a,
    footer .ym-vlist li ul li ul li ul li.current-cat > a {
        background-color: #005D85;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    footer .ym-vlist li ul li ul li ul li.current-menu-parent > a,
    footer .ym-vlist li ul li ul li ul li.current_page_parent > a,
    footer .ym-vlist li ul li ul li ul li.current-cat-parent > a,
    footer .ym-vlist li ul li ul li ul li.current-menu-ancestor > a,
    footer .ym-vlist li ul li ul li ul li.current_page_ancestor > a {
        background-color: transparent;
        color: #FFF;
        font-weight: normal;
        outline: 0 none;
    }

    .network-logo, .fau-logo {
        text-align: center;
        margin-bottom: 15px;
    }

    .network-logo a, .fau-logo a {
        background-color: transparent;
    }
    
}

@media screen and (max-width: 760px) {
	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
	.linearize-level-1,
	.linearize-level-1 > [class*="ym-g"],
	.linearize-level-1 > [class*="ym-col"] {
		float: none !important;
		margin: 0 !important;
		width: 100% !important;
	}

	body {
		max-width: 760px;	
		overflow: auto;	
    	-webkit-text-size-adjust: none;
	}
    
    body div#kopf div#title {
        width: 760px;    
        /*height: 109px;*/
    }

    .ym-searchform input[type="search"] {
        width: 75%;
    }

    .ym-searchform {
        text-align: center;
    }
    
    /* Horizontal menu */
    .rrze-hlist {
        padding-top: 0.5em;
    }
    
    .rrze-hlist ul li.current-menu-parent > a,
    .rrze-hlist ul li.current_page_parent > a,
    .rrze-hlist ul li.current-cat-parent > a,
    .rrze-hlist ul li.current-menu-ancestor > a,
    .rrze-hlist ul li.current_page_ancestor > a {
        color: #AAAAAA;
    }
  
    .rrze-hlist ul li.current-menu-item > a,
    .rrze-hlist ul li.current_page_item > a,
    .rrze-hlist ul li.current-cat > a {
        background: #005D85;
        color: #FFFFFF;

    }
        
    .rrze-hlist ul ul {
        display: block;
    }
    
    .rrze-hlist ul {
        display: block;
        width: 98%;
    }
    
    .rrze-hlist ul li {
        float: none;
    }
    
    .rrze-hlist ul ul {
        position: relative;
        top: 0;
    }
    
	.rrze-hlist ul ul li {
		position: relative;
        margin: 0;
	}
    
    .rrze-hlist ul ul ul {
        position: relative;
        left: 0;
    }

    .rrze-hlist ul li > ul li {
        border: 0;
    }
    
    .rrze-hlist ul li a {
        padding: 0.3em 0.5em;
    }
    
    .rrze-hlist ul ul {
        padding: 0 0.5em;
    }
    
    .rrze-hlist ul li:focus,
    .rrze-hlist ul li:hover,
    .rrze-hlist ul li:active {
        background: #00425F;
    }
    
    /* Admin Bar */
    div#wpadminbar li#wp-admin-bar-new-content,
    div#wpadminbar ul#wp-admin-bar-top-secondary {
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
	/* Linearisation for Grid- and Column-Module, based on CSS class .linearize-level-1 */
	.linearize-level-1,
	.linearize-level-1 > [class*="ym-g"],
	.linearize-level-1 > [class*="ym-col"] {
		float: none !important;
		margin: 0 !important;
		width: 100% !important;
	}

	body {
		max-width: 480px;	
		overflow: auto;	
    	-webkit-text-size-adjust: none; /* Wichtig fuer iPhone im Landscape Mode */
	}
    
    body div#kopf div#title {
        width: 480px;    
        /*height: 69px;*/
    }

    .header-block h1#site-title {
        font-size: 175%;
        line-height: 0.8571em;
        margin-bottom: 0;
        margin-top: 30px;
    }

    .header-block h3#site-description {
        margin-top: 16px;
    }
    
    .ym-searchform input[type="search"] {
        width: 65%;
    }

    .ym-searchform {
        text-align: center;
    }
    
    /* Admin Bar */
    div#wpadminbar li#wp-admin-bar-my-sites,
    div#wpadminbar li#wp-admin-bar-site-name,
    div#wpadminbar li#wp-admin-bar-new-content,
    div#wpadminbar ul#wp-admin-bar-top-secondary {
        display: none;
    }

}

@media print {
    #main-column > .ym-col1 { width: 0 !important; } /* left column */
    #main-column > .ym-col2 { width: 0 !important; } /* right column */
    #main-column > .ym-col3 { float: none !important; width: 100% !important; margin: 0 !important; } /* center column */    
}